/* Permissions page */
.permissions .module {
  font-weight: bold;
}
.permissions .section {
  font-style: italic;
  padding-left: 1.5em;
}
.permissions .permission {
  padding-left: 1.5em; /* LTR */
}
[dir="rtl"] .permissions .permission {
  padding-right: 1.5em;
  padding-left: 0;
}
.permissions .permission .permission-warning {
  font-weight: 600;
}
.permissions .permission .permission-warning:before {
  content: "\26A0";
  font-size: 1.5em;
  color: #ffa500;
}
